<html>
<meta charset="utf-8">
<head><title>formulario</title></head>
<body>
<div class="row">
    <div  class="container"><!-- container titulo imagenes separadas con textos  -->
        <div id="user" class="section-title col-sm-12">
 
				<h3>FORMULARIO</h3>
				 
				<form action="" method="post">
				  Nombre:  
				  <input type="text" name="nombre" value="">
				  <br/>
				   Email:
				  <input type="text" name="email" value="">
				  <br/>
				   Número:
				  <input type="text" name="numero" value="">
				  <br/>
				   Comentario:
				  <input class="box" type="text" name="comentario" value="">
				   <br/>
				  <input type="submit" value="Enviar">
				  <br/>

				</form>
 
</body>
</html>